<button class="btn btn-info btn-lg" [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span> Home</button>
<h2>Enter a new quote for: {{author}}</h2>
<form #quoteForm="ngForm" (submit)="createQuote()">
        <label for="newquote">Quote: </label>
        <input
        type="text"
        name="newquote"
        required
        minlength="3"
        [(ngModel)]="newquote"
        #newque="ngModel">
        <input class="btn btn-info" type="submit" value="Create Quote">
    </form>
    <button class="btn btn-info" [routerLink]="['/quotes', id]">Cancel</button>
    <div *ngIf="!quoteForm.valid">
        <button class="btn btn-warning" *ngIf="newque.errors.required">Please fill the input</button>
        <button class="btn btn-warning" *ngIf="newque.errors.minlength">Quote should be 3 characters or longer</button>
    </div>
