<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Miserable Adventure of Kenny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Your alarm clock goes off, do you wake up or hit snooze?</h1>
<p>Total death count: {{ deaths }}</p>

<form action="/wakeup">
    <input type="submit" value="WAKE UP">
</form>
<form action="/sleep">
    <input type="submit" value="SNOOZE">
</form>
</body>
</html>