<div>
        <h1>Submitted Info:</h1>
        <p>Name: @ViewBag.name</p>
        <p>Dojo Location: @ViewBag.dojo</p>
        <p>Favorite Language: @ViewBag.favlang</p>
        <p>Comment: @ViewBag.comment</p>
        <a href="/">Go back</a>
    </div>