<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akin's Semi-Restful Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <h1>Edit {{ user.username }}</h1>
    <form action="/users/{{ user.id }}/update" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username" value="{{ user.username }}">
        First Name: <input type="text" name="first_name" value="{{ user.first_name }}">
        Last Name: <input type="text" name="last_name" value="{{ user.last_name }}">
        Email: <input type="text" name="email" value="{{ user.email }}">
        Password: <input type="password" name="password">
        Confirm Password: <input type="password" name="conpass">
        <input type="submit" value="Submit">
    </form>
    <a href="/users/">Home Page</a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>