<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akin's Cars and Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>WELCOME TO CARS!</h1>
    <img src="/images/car1.jpg" alt="Car 1">
    <img src="/images/car2.jpg" alt="Car 2">
    <img src="/images/car3.jpg" alt="Car 3">
    <a href="/">Home</a>
</body>
</html>