*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 100%;
    background-color: silver;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#header{
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    background-color: green;
}
#navigation{
    display: inline-block;
    height: 300px;
    width: 15%;
    background-color: blue;
    margin: 20px;
    margin-right: 3px;
}
#main_content{
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 78%;
    background-color: red;
    margin: 20px;
    margin-left: 3px;
}
.subcontents{
    display: block;
    height: 200px;
    width: 25%;
    background-color: yellow;
    margin: 10px;
}
#advertisement{
    margin: 20px;
    height: 120px;
    width: auto;
    background-color: purple;
}
@media only screen and (max-width: 480px){
    #navigation{
        display: none;
    }
    .subcontents{
        width: 95%;
    }
    #maincontent{
        width: 100%;
        margin: 10px;
    }
    #advertisement{
        width: 95%;
    }
}
@media only screen and (min-width: 481px){
    /* .m0{
        display: none;
    } */
    .subcontents{
        display: block;
    }
}
@media only screen and (min-width: 1024px){
    .subcontents{
        display: block;
    }
}