<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akin's Survey Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="Name">
        <select name="Location">
            <option value="Chicago">Chicago</option>
            <option value="San Jose">San Jose</option>
            <option value="Somewhere">Somewhere</option>
        </select>
        <select name="Language">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
        </select>
        <input type="text" name="Comment">
        <input type="submit" value="Submit!">
    </form>
</body>
</html>