<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akin's Great Number Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div>
        <h1>Welcome to my Number Game!</h1>
        <p>I'm thinking a number between 1 and 100</p>
        <p>Take a guess and I will guide you!</p>
        <form action="/guess" method="POST">
            <input type="number" name="guessnumber">
            <input type="submit" value="Submit Guessed Value">
        </form>
    </div>
    <div id="box">
        <div id="wrong" class="hidden">

        </div>
        <div id="correct" class="hidden">
            <p>You did it!</p>
            <p>{{ session["number"] }} was the number</p>
            <a href="/reset">Click to Play Again!</a>
        </div>
    </div>
</body>
</html>