<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Akin's Portfolio</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Welcome to Akin's Portfolio</h1>
        <div class="navbar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="projects"><li>Projects</li></a>
                <a href="contact"><li>Contact</li></a>
            </ul>

        </div>
        <div class="content">
            <h3>Please Enter Your Information</h3>
            <form action="">
            Name: <input type="text">
            Email: <input type="email">
            Message: <input type="textarea">
            <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
