<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Akin's Portfolio</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Welcome to Akin's Portfolio</h1>
        <div class="navbar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="projects"><li>Projects</li></a>
                <a href="contact"><li>Contact</li></a>
            </ul>
        </div>
        <div class="content">
            <img src="~/img/EvilGenius.jpg" alt="Evil Genius">
            <h3>Name : Evil Genius</h3>
            <p>I am an evil genius who is dedicated to achieve total world domination and evil things...</p>
        </div>
    </body>
</html>
