<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Akin's Portfolio</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Welcome to Akin's Portfolio</h1>
        <div class="navbar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="projects"><li>Projects</li></a>
                <a href="contact"><li>Contact</li></a>
            </ul>
        </div>
        <div class="content">
            <img src="~/img/titanic.jpg" alt="Titanic">
            <h3>Sinking of the Titanic</h3>
            <p>I put that iceberg there to sink that ship!</p>
        </div>
        <div class="content">
            <img src="~/img/plague.jpg" alt="Black Plague">
            <h3>The Black Plague</h3>
            <p>I spread the plague in sinister ways...</p>
        </div>
        <div class="content">
            <img src="~/img/ww1.jpg" alt="World War 1">
            <h3>World War 1</h3>
            <p>Assasination of the Archiduke was my evil design...</p>
        </div>
    </body>
</html>
